nav>ul li{
    display: inline-block; 
    border: 2px solid black; 
    position: relative;
    margin-top: 0;
    padding: 15px 15px 15px 15px;
    width: 150px; 
    text-align: center;
}
nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}
/*special hover to display the drop-down*/
nav>ul>li:hover>ul{
    display: block;
}
