h1{color: #006600;}
p:first-of-type::first-letter{
    font-size: 150%;
    font-weight: bold;
    color: #006600;
}
p{
    text-indent: 20px;
}
div {
    border:none;  
  }
  #footer {
    bottom: 0;
    width: 100%;
   }
