h1{color: #006600;}
p:first-of-type::first-letter{
    font-size: 150%;
    font-weight: bold;
    color: #006600;
}
p{
    text-indent: 20px;
}
div {
    border:none;  
  }
  #footer {
    bottom: 0;
    width: 100%;
   }
.header {
    grid-area: header;
    font-family: 'Roboto', sans-serif;
}
.nav {
    grid-area: nav;
}
.content1 {
    grid-area: content1;
}
.content2 {
    grid-area: content2;
}
.footer {
    grid-area: footer;
}
.wrapper {
    display:grid;
    grid-gap: 10px;
    grid-template-areas:
    "header"
    "nav"
    "content1"
    "content2"
    "footer"
}
@media screen and (min-width: 421px) {
   .wrapper {
    grid-template-columns: 50% auto;
    grid-template-areas:
    "header header"
    "nav nav"
    "content1 content2"
    "footer footer";
   }
}
/*@media screen and (max-width: 420px) {
    .wrapper {
     grid-template-columns: 100%;
     grid-template-areas:
     "header"
     "nav"
     "content1"
     "content2"
     "footer";
    }
 }*/
 @media print {
    .nav {
        display: none;
    }
    body *{
        color: #000;
        font-family: 'Times New Roman', serif;
    }
    .header h1{
        grid-area: header;
        font-family: 'Roboto', sans-serif;
    }
    @page {
        margin: 1in;;
    }
 }